<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Competition</title>

    <!-- Latest compiled and minified CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='edit-competition.css') }}" rel="stylesheet">

  </head>

  <body>
      
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ETF Online Competition System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <!-- Question Column -->
        <div class="col-md-8">

          <h1 class="my-4"><b>"Code" contest</b>
           
          </h1>

       
        
          
            
        </div>

    
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header"><b>Upute</b></h5>
            <div class="card-body">
              1. Sva pitanja u sklopu takmičenja su istog tipa.<br>
              2. Ne postoji eksplicitan tačan odgovor.<br>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BP TIM X</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>