<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit Competition</title>

    <!-- Latest compiled and minified CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='edit-competition.css') }}" rel="stylesheet">

  </head>

  <body>
      
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ETF Online Competition System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <!-- Question Column -->
        <div class="col-md-8">

          <h1 class="my-4"><b>Editovanje takmičara</b>
          </h1>

          <!-- Question -->
          <div class="card mb-4">
            <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
            <div class="card-body">
              <!--<h2 class="card-title">Test<br></h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>-->
              <h2 class="card-title"><b>Dodavanje takmičara</b></h2>
              <form>
                <div class="input-field">
                    <p>Pretraga: </p><input type="text" name="search-bar"><br>
                </div>
                <input id="subby" type="submit" value="Traži" class="btn btn-primary"><br><br><br>
                <h3>Rezultati:</h3>
                <table id="tabela-rezultata">
                  <tr>
                    <th>Takmičar</th>
                    <th>Username</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Dodaj" class="btn btn-primary"></td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header"><b>Upute</b></h5>
            <div class="card-body">
                <p>Nakon pretrage trebaju se izlistati korisnici. Klikom na dugme pored izlistanog korisnika on se dodaje u takmičenje.</p>
            </div>
          </div>
            
          <div class="card my-4">
            <h5 class="card-header"><b>Prijavljeni takmičari</b></h5>
            <div class="card-body">
                <table>
                  <tr>
                    <th>Takmičar</th>
                    <th>Username</th>
                  </tr>
                  <tr>
                    <td>Genji Shimada</td>
                    <td>sparrow</td>
                    <td><input type="submit" value="Izbriši" class="btn btn-primary"></td>
                  </tr>
                  <tr>
                    <td>Amélie Lacroix</td>
                    <td>spiderqueen</td>
                    <td><input type="submit" value="Izbriši" class="btn btn-primary"></td>
                  </tr>
                  <tr>
                    <td>Lena Oxton</td>
                    <td>zippyzip</td>
                    <td><input type="submit" value="Izbriši" class="btn btn-primary"></td>
                  </tr>
                </table>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BP TIM X</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>
