<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ETF OCS Admin Dashboard</title>
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
  </head>

  <body onload="Ucitajtakicenje()">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ETF OCS admin profile/dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Pregled takmičenja<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Pregled korisnika</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Korisničko ime</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Mejbi slika?</h4>
            </div>
          </div>

          <h2 class="sub-header">Lista svih takmičenja</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Naziv takmičenja</th>
                  <th>Tip takmičenja</th>
                  <th>Predmet</th>
                </tr>
                <tr>
                  <td><input type="text" id="name" /></td>
                  <td><input type="text" id="type"/></td>
                  <td><input type="text" id="subject"/></td>
                  <td><input type="submit" onclick="Primitakmicenje();return false;" /></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>AAAA</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                </tr>
                <tr>
                  <td>BBBB</td>
                  <td>augue</td>
                  <td>semper</td>
                </tr>
                <tr>
                  <td>CCCC</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                </tr>
                <tr>
                  <td>DDDD</td>
                  <td>eget</td>
                  <td>nulla</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



<script>
function Primitakmicenje()
{
var t1= document.getElementById("name");
    var T1 = document.getElementById("name").value;
var t2 = document.getElementById("type");
var T2 = document.getElementById("type").value;
var t3 = document.getElementById("subject");
var T3 = document.getElementById("subject").value;

var http = new XMLHttpRequest();
var url = "/api/add_competition";
var params = "name="+T1+"&type="+T2+"&subject="+T3;
http.open("POST", url, true);
       http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

http.onreadystatechange = function() {//Call a function when the state changes.
    if(http.readyState == 4 && http.status == 200) {
//Uzimanje JSona

            
               alert("uspjesno");
    }
}
http.send(params);
}


</script>




<script>
function Ucitajtakicenje()
{alert("pocinje");
var http2 = new XMLHttpRequest();
var url2 = "/api/competition_list";

http2.open("POST", url2, true);
       http2.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
http2.onreadystatechange = function() {//Call a function when the state changes.
    if(http2.readyState == 4 && http2.status == 200) {
//Uzimanje JSona

            
               alert("JSON.parse(this.responseText);");
    }
}
http2.send();




}









</script>







  </body>
</html>
